bcrypt==3.2.0
Faker==9.8.2
psycopg2==2.9.1 
requests==2.26.0
robotframework==4.1.2
robotframework-browser==10.0.2
robotframework-databaselibrary==1.2.4
robotframework-pabot==2.5.3
robotframework-requests==0.9.2